@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .team-members-wrapper {
    display: flex;
    justify-content: space-around;
    width: 200%; /* Adjust based on content */
  }
  
  .team-members-wrapper .team-member-item {
    min-width: 25%; /* Adjust for item width */
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
  